@tailwind base;
@tailwind components;
@tailwind utilities;

/* - Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900
 */
html {
  font-size: 16px;
}

.arrow{
  border-color: transparent white transparent transparent;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
